<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="container">
    <div id="content">
        <table>
            <tr>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Kategoria</th>
                <th>Opis</th>
            </tr>
            <tr th:each="product: ${products}">
                <td th:text="*{product.getName()}"></td>
                <td th:text="*{product.getPrice()}"></td>
                <td th:text="*{product.getProductCategory()}"></td>
                <td><a th:href="@{/{name}(name=${product.getName()})}">Description</a></td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>