<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Special Offers</title>
</head>
<body>

    <div>Special offers cannot be combined</div>
    <div>1. Buy 10 or more products from FOOD category to get 5% discount</div>
    <div>2. Buy product from each category to get 3% discount</div>
    <div>3. Buy 3 or more identical products from COSMETICS category and get the one of them for free</div>

<a th:href="@{/home}">Home page</a>

</body>
</html>